.container{
  max-width: 300px;
  height: 400px;
  margin: 10px auto 10px auto;
  background-color: grey;
  padding-top: 15px;
  padding-bottom: 15px;
}
p {
  margin: 0px auto;
  width: 150px;
  font-size: .75em;
}